<div class="footer-wrapper">
    <p>
        <a href="">关于我们</a> <span class="spacing"> | </span>
        <a href="">商务合作</a> <span class="spacing"> | </span>
        <a href="">LinkX开放平台</a> <span class="spacing"> | </span>
        <a href="">使用条款</a> <span class="spacing"> | </span>
        <a href="">常见问题</a>
    </p>
    <p>
        <span class="spacing">关注我们</span> <a href="">@新浪微博</a> <span class="spacing"> | </span> <a href="">@腾讯微博</a>
    </p>
    <p>
        <span>Copyright © 2013 <a href="http://www.augmentum.com.cn/" target="_blank">Augmentum.Inc</a>. All Rights Reserved.</span>
        <span class="icp"> 沪ICP备xxxxxxxx号-x </span>
    </p>
</div>