<div ng-controller="changePasswordController">
<form class="form-horizontal" name="changePasswordForm">
  <div class="control-group">
    <label class="control-label" for="password">旧密码<span class="input-required-feild"></span>
    </label>
    <div class="controls">
        <input
            type="password"
            id="password"
            name="password"
            placeholder="{{_rb.pwdph}}"
            ng-model="form.password.data"
            ng-minlength="6"
            ng-maxlength="20"
            required>
        <span
            class="input-unconfirmed"
            ng-bind="_rb.pwderror"
            ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$invalid">
        </span>
        <span
            class="input-confirmed"
            ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$valid">
        </span>
    </div>
    <div class="comments">{{_rb.pwdcomments}}</div>
</div>

<div class="control-group">
    <label class="control-label" for="newpassword">新密码<span class="input-required-feild"></span>
    </label>
    <div class="controls">
        <input
            type="password"
            id="newpassword"
            name="newpassword"
            placeholder="{{_rb.pwdph}}"
            ng-model="form.newpassword.data"
            ng-minlength="6"
            ng-maxlength="20"
            ng-change="form.newpassword.passwordChanged()" required>
        <span
            class="input-unconfirmed"
            ng-bind="_rb.pwderror"
            ng-show="changePasswordForm.newpassword.$dirty && changePasswordForm.newpassword.$invalid">
        </span>
        <span
            class="input-confirmed"
            ng-show="changePasswordForm.newpassword.$dirty && changePasswordForm.newpassword.$valid">
        </span>
    </div>
    <div class="comments">{{_rb.pwdcomments}}</div>
</div>

  <div class="control-group">
    <label class="control-label" for="repassword">重复新密码<span class="input-required-feild"></span>
    </label>
    <div class="controls">
        <input
            type="password"
            id="repassword"
            name="repassword"
            placeholder="{{_rb.repwdph}}"
            ng-model="form.repassword.data"
            ng-minlength="6"
            ng-change="form.newpassword.passwordChanged()" required>
        <span
            class="input-unconfirmed"
            ng-bind="_rb.pwdnotmatch"
            ng-show="changePasswordForm.repassword.$dirty && !form.newpassword.passwordMatched">
        </span>
        <span
            class="input-confirmed"
            ng-show="changePasswordForm.repassword.$dirty && changePasswordForm.repassword.$valid && form.password.passwordMatched">
        </span>
    </div>
</div>
  <div class="control-group">
    <div class="controls">
        <button
            class="btn btn-info"
            ng-disabled="changePasswordForm.$invalid || !form.newpassword.passwordMatched">修改
        </button>
    </div>
</div>
</form>
</div>