/**account info**/
.account-info-block {
    padding-left: 40px;
    padding-top: 20px;
}

.account-info-block .controls{
    height:50px;
}

/**account menu**/
.accountMenu li {
    cursor:pointer;
}

.third-auth img{
	width:16px;
	height:16px;
}

.third-auth div {
	margin-right:10px;
	display: inline-block;
}